:root {
  --spotify: #73dc99;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overscroll-behavior: none;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3em;
  font-style: normal;
  margin: 1em;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  margin-bottom: 2em;
}

.row {
  display: flex;
  width: 100%;
}

.spotify-embed {
  margin: auto;
}

.edge-col-top {
  position: relative;
  width: 25%;
}

.center-col-top {
  position: relative;
  width: 50%;
}

.center-col {
  background: var(--spotify);
  background-image: url("img/background-white.png");
  background-repeat: repeat;

  position: relative;
  padding-right: 2em;
  padding-left: 2em;
  width: 50%;
}

.edge-col {
  background-image: url("img/side-background-green.png");
  background-repeat: repeat;

  position: relative;
  padding-right: 2em;
  padding-left: 2em;
  width: 25%;
}

.edge-col-top img {
  height: 100%;
  width: 100%;
}

.center-col-top img {
  height: 100%;
  width: 100%;
}

.icon {
  margin-top: 2em;
  margin-bottom: 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.title {
  margin: auto;
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
}

.icon img {
  display: flex;
  width: 200px;
}
